<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:aop="http://www.springframework.org/schema/aop"
     xmlns:context="http://www.springframework.org/schema/context"
     xmlns:tx="http://www.springframework.org/schema/tx"
     xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/tx
    	 http://www.springframework.org/schema/tx/spring-tx.xsd
         http://www.springframework.org/schema/aop 
         http://www.springframework.org/schema/aop/spring-aop.xsd" default-autowire="byName">
	<context:annotation-config></context:annotation-config>
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
  		<property name="locations" value="classpath:jdbc.properties"/>
	</bean>	
	<!-- 
		使用<bean id="dataSource" class="org.springframework.jdbc.datasource.SingleConnectionDataSource">
		需加上<property name="suppressClose" value="true"/>，否则一直报错：cannot open connection 
	-->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
    	<property name="dataSource" ref="dataSource"/>
	    <!-- 说明哪些类是实体类 -->
	    <property name="annotatedClasses">            
	      <list>			<!-- 数组类型相当于list类型 -->
	        <value>com.zhaojun.spring.model.User</value>
	      </list>
	    </property>
	    <property name="hibernateProperties">
		 	<props>
		      <prop key="dialect">org.hibernate.dialect.Oracle10gDialect</prop>
		      <prop key="show_sql">true</prop>
		      <prop key="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</prop>
 			</props>
	    </property>
	</bean>
	
	<bean id="userDao" class="com.zhaojun.spring.daoImpl.UserDaoImpl"/>
	
	<!-- 新建UserServiceImpl的实例的时候才给其下的userDao注入 -->
	<bean id="userService" class="com.zhaojun.spring.serviceImpl.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
 		<property name="sessionFactory" ref="sessionFactory"/>
 	</bean>
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
    		<tx:method name="add*" propagation="REQUIRED"/><!-- 指你程序中的add方法，而不是hibernate自身调用save插入数据的方法 -->
    		<!-- <tx:method name="*" propagation="REQUIRED"/> -->
  		</tx:attributes>
	</tx:advice>
 	 <aop:config>
    	<aop:pointcut id="fooServiceOperation" expression="execution(public * com.zhaojun.spring.daoImpl.UserDaoImpl.add(..))"/>
  		<aop:advisor advice-ref="txAdvice" pointcut-ref="fooServiceOperation"/>
	</aop:config>
	
	
	
</beans>